<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="icon" href="rose.webp">
    <link rel="stylesheet" href="spinner.css">
    <link rel="stylesheet" href="view-transitions.css">
    <title>Hello, world!</title>
    <script src="https://unpkg.com/htmx.org@1.9.10"
            integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
            crossorigin="anonymous"></script>
    <script src="https://unpkg.com/htmx.org@1.9.10/dist/ext/client-side-templates.js"
            integrity="sha384-UFoZU2py/0EQf37hFN8iBaIC0ojoD9OfXOzMm8uWB16qd6EEQUhhz7cCifKJFsRi"
            crossorigin="anonymous"></script>
    <script src="https://unpkg.com/htmx.org@1.9.10/dist/ext/json-enc.js"
            integrity="sha384-nRnAvEUI7N/XvvowiMiq7oEI04gOXMCqD3Bidvedw+YNbj7zTQACPlRI3Jt3vYM4"
            crossorigin="anonymous"></script>
    <script src="https://unpkg.com/handlebars@4.7.8/dist/handlebars.js"
            integrity="sha384-QUhmvCKocyfe+3p0uc73Hq5wMpUERuIahFAsyHXwZ01QxtaILhVpAYsJLeFnuNhY"
            crossorigin="anonymous"></script>
  </head>
  <body hx-boost="true"
        hx-on::response-error="alert('An error occured.  FIXME: add better error handling.')"
        hx-ext="json-enc,client-side-templates">
    <h1>Hello, world!</h1>
    <p>Hello, world!</p>
    <div hx-get="/api/v1/squid_rules"
         hx-swap="innerHTML"
         hx-target="next tbody"
         hx-trigger="load"
         hx-indicator="next tbody .lds-ring"
         handlebars-array-template="squid_rules-template">
    </div>
    <table border="1">
      <caption>All squid_rules</caption>
      <thead>
        <tr><th>Title</th><th>URL</th><th>Policy</th><th>Group Restriction</th><th><!-- Actions --></th></tr>
      </thead>
      <tbody>
        <tr><td colspan="3"><div class="htmx-indicator lds-ring"><div></td></tr>
      </tbody>
      <tfoot>
        <tr>
          <form hx-post="/api/v1/squid_rules"
                hx-confirm="Really create new squid_rule?"
                hx-target="previous tbody"
                hx-swap="beforeend transition:true"
                handlebars-template="squid_rule-template">
            <td><input name="title" placeholder="not bookmarked" /></td>
            <td><input name="url" placeholder="https://example.com/" /></td>
            <td><input name="policy" /></td>
            <td><input name="group_restriction" placeholder="no restriction" /></td>
            <td><input type="submit" value="Create"></td>
          </form>
        </tr>
      </tfoot>
    </table>
    <template id="squid_rules-template">
      {{#each .}}
      <tr hx-target="this" hx-swap="outerHTML transition:true" handlebars-template="edit-squid_rule-template">
        <td>{{title}}</td>
        <td>{{url}}</td>
        <td>{{policy}}</td>
        <td>{{group_restriction}}</td>
        <td><button hx-get="/api/v1/squid_rules/{{ group_restriction }}/{{ url }}">Edit</button></td>
      </tr>
      {{/each}}
    </template>
    <!-- FIXME: DRY: this is the same as squid_rules-template without the wrapping #EACH -->
    <template id="squid_rule-template">
      <tr hx-target="this" hx-swap="outerHTML transition:true" handlebars-template="edit-squid_rule-template">
        <td>{{title}}</td>
        <td>{{url}}</td>
        <td>{{policy}}</td>
        <td>{{group_restriction}}</td>
        <td><button hx-get="/api/v1/squid_rules/{{ group_restriction }}/{{ url }}">Edit</button></td>
      </tr>
    </template>
    <template id="edit-squid_rule-template">
      <tr handlebars-template="squid_rule-template" hx-target="this" hx-swap="outerHTML transition:true">
        <td><input name="title" placeholder="not bookmarked" value="{{title}}"
                   hx-put="/api/v1/squid_rules/{{ group_restriction }}/{{ url }}" hx-trigger="input changed delay:500ms" hx-swap="none" /></td>
        <td>{{url}}</td>  <!-- Cannot be changed because it is the PK -->
        <td><input name="policy" value="{{policy}}"
                   hx-put="/api/v1/squid_rules/{{ group_restriction }}/{{ url }}" hx-trigger="input changed delay:500ms" hx-swap="none" /></td>
        <td>{{group_restriction}}</td>  <!-- Cannot be changed because it is the PK -->
        <td>
          <button hx-get="/api/v1/squid_rules/{{ group_restriction }}/{{ url }}">Done</button>
          <button
            hx-delete="/api/v1/squid_rules/{{ group_restriction }}/{{ url }}"
            hx-confirm="Really delete {{ url }} (for {{group_restriction}})?"
            hx-swap="delete transition:true">
            Delete
          </button>
        </td>
        <!-- </form> -->
      </tr>
    </template>
  </body>
</html>
