<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="icon" href="rose.webp">
    <title>Hello, world!</title>
    <script src="https://unpkg.com/htmx.org@1.9.10"
            integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
            crossorigin="anonymous"></script>
    <script src="https://unpkg.com/htmx.org@1.9.10/dist/ext/client-side-templates.js"
            integrity="sha384-UFoZU2py/0EQf37hFN8iBaIC0ojoD9OfXOzMm8uWB16qd6EEQUhhz7cCifKJFsRi"
            crossorigin="anonymous"></script>
    <script src="https://unpkg.com/htmx.org@1.9.10/dist/ext/json-enc.js"
            integrity="sha384-nRnAvEUI7N/XvvowiMiq7oEI04gOXMCqD3Bidvedw+YNbj7zTQACPlRI3Jt3vYM4"
            crossorigin="anonymous"></script>
    <script src="https://unpkg.com/handlebars@4.7.8/dist/handlebars.js"
            integrity="sha384-QUhmvCKocyfe+3p0uc73Hq5wMpUERuIahFAsyHXwZ01QxtaILhVpAYsJLeFnuNhY"
            crossorigin="anonymous"></script>
  </head>
  <body hx-boost="true"
        hx-ext="json-enc,client-side-templates">
    <h1>Hello, world!</h1>
    <p>Hello, world!</p>
    <div hx-get="/api/v1/products"
         hx-swap="innerHTML"
         hx-target="next tbody"
         hx-trigger="load"
         handlebars-array-template="products-template">
    </div>
    <table border="1">
      <caption>All products</caption>
      <thead>
        <tr><td>Name</td><td>Sell price (in cents!)</td><td><!-- Actions --></td></tr>
      </thead>
      <tbody>
      </tbody>
      <tfoot>
        <tr>
          <form hx-post="/api/v1/products"
                hx-confirm="Really create new product?"
                hx-target="previous tbody"
                hx-swap="beforeend"
                handlebars-template="product-template">
            <td><input name="productName" placeholder="Product name" /></td>
            <td><input name="sellPrice" placeholder="0" type="number" min="0" step="100" /></td>
            <td><input type="submit" value="Create"></td>
          </form>
        </tr>
      </tfoot>
    </table>
    <template id="products-template">
      {{#each .}}
      <tr hx-target="this" hx-swap="outerHTML" handlebars-template="edit-product-template">
        <td>{{productName}}</td>
        <td>{{sellPrice}} {{sellPriceCurrencyTypeID}}</td>
        <td><button hx-get="/api/v1/products/{{ productID }}">Edit</button></td>
      </tr>
      {{/each}}
    </template>
    <!-- FIXME: DRY: this is the same as products-template without the wrapping #EACH -->
    <template id="product-template">
      <tr hx-target="this" hx-swap="outerHTML" handlebars-template="edit-product-template">
        <td>{{productName}}</td>
        <td>{{sellPrice}} {{sellPriceCurrencyTypeID}}</td>
        <td><button hx-get="/api/v1/products/{{ productID }}">Edit</button></td>
      </tr>
    </template>
    <template id="edit-product-template">
      <tr handlebars-template="product-template" hx-target="this" hx-swap="outerHTML">
          <td><input name="productName" placeholder="Product name" value="{{ productName }}"
                     hx-put="/api/v1/products/{{ productID }}" hx-trigger="input changed delay:500ms" hx-swap="none"/></td>
          <td><input name="sellPrice" placeholder="0" type="number" min="0" step="100" value="{{ sellPrice }}"
                     hx-put="/api/v1/products/{{ productID }}" hx-trigger="input changed delay:500ms" hx-swap="none" /></td>
          <td>
            <button hx-get="/api/v1/products/{{ productID }}">Done</button>
            <button
              hx-delete="/api/v1/products/{{ productID }}"
              hx-confirm="Really delete {{ productName }}?"
              hx-swap="delete">
              Delete
            </button>
          </td>
        <!-- </form> -->
      </tr>
    </template>
  </body>
</html>
