{% extends "layout.html" %}
{% block title %}{{ _("Products") }}{% endblock title %}
{% block body %}
<form action="{{ request.url_for('read_products') }}" method=get>
  <label for=search class=form-label>{{ _("Search Term") }}</label>
  <input id=search
         type=search
         name=q
         value="{{ q or '' }}"
         class=form-control
         hx-get="{{ request.url_for('read_products') }}"
         hx-trigger="search, keyup delay:200ms changed"
         hx-target=tbody
         hx-select=tbody
         hx-swap=outerHTML
         hx-push-url=true />
  <input type=submit
         value=Search
         class="btn btn-primary" />
</form>
<table class="table table-striped">
  <thead>
    <tr>
      <th>{{ _("Name") }}</th>
      <th>{{ _("Price in cents") }}</th>
      <th>{{ _("Description") }}</th>
      <th>{{ _("Comment") }}</th>
    </tr>
  </thead>
  <tbody>
    {% for product in products %}
    <tr>
      <!-- <td>{{ product.productID }}</td> -->
      <td>{{ product.productName }}</td>
      <td>{{ product.sellPrice }}
        {% if product.sellPriceIncTax %}
        (inc. GST)
        {% endif %}
      </td>
      <td>{{ product.description }}</td>
      <td class=overflow-hidden>{{ product.comment or '' }}</td>
    </tr>
    {% endfor %}
    <tr>
      <td>
        <button class="btn btn-primary"
                hx-get="{{ request.url_for('read_products') }}?q={{ q }}&page={{ page + 1 }}"
                hx-target="closest tr"
                hx-swap=outerHTML
                hx-select="tbody > tr">{{ _("Load More") }}</button>
      </td>
    </tr>
  </tbody>
</table>
{% endblock body %}
